@charset "UTF-8";

*{
	font-family: "游ゴシック", "Yu Gothic";
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.nav-ber button:hover{
	background-color: #00ff00;
}
.tag-button:hover{
	background: #fdeff2;
}
.tag-button:nth-child(1){
	border-color:#3cb371;
}
.tag-button:nth-child(2){
	border-color:#87cefa;
}
.tag-button:nth-child(3){
	border-color:#00ff7f;
}
.tag-button:nth-child(4){
	border-color:#778899;
}
.tag-button:nth-child(5){
	border-color:#b22222;
}
.tag-button:nth-child(6){
	border-color:#0000cd;
}
.tag-button:nth-child(7){
	border-color:#ffe4e1;
}
.tag-button:nth-child(8){
	border-color:#4753a2;
}

/*WEBプラウザ表示*/
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/

	.err-text{
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	.err-text h3{
		font-size: 2rem;
	}
	/*ヘッダー*/
	.nav-ber ul {
	  display: flex;
	  align-items: center;
	}
	.nav-ber ul li p{
		font-size: 3rem;
		font-weight: bold;
	}
	.nav-ber ul li:first-child {
		margin-right: auto;			/* li:first-childのmargin-rightが自動で空いた領域を埋めてくれる*/
	}
	.nav-ber button{
		border: solid 1px;
		text-align: center;
		font-weight: bold;
		background-color: #bce702;
		width: 6rem;
	  height: 2.5rem;
	  margin-right: 2rem;
	}
	h2{
		margin: 0 0 0 10em;
		padding: 0;
	}
	/*TOP画面*/
	.tag-button-list{
		display: inline-block;
		line-height: 13rem;
		text-align: center;
		margin-left:3rem;
	}
	.tag-button{
		border: solid 3px;
		text-align: center;
		background: transparent;
		width: 9rem;
	  height: 10rem;
		margin-right:5rem;
		border-radius: 1rem;
		font-weight:800;
		font-size: 1.2rem;
	}
	/*一覧画面*/
	.thumbnail-list{
		margin: 0;
		padding: 0;
		display: flex;			/*中央寄せ便利*/
		justify-content: center;
		flex-wrap: wrap;		/*子要素折り返し*/
		width: 100%;
	}
	.thumbnail-art{
		width: 15%;
		padding: 1.5rem		/*flexの子要素に余白の設定*/
	}
	.thumbnail-list li p{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#wrapper{
		display: flex;			/*中央寄せ便利*/
		justify-content: center;
		flex-wrap: wrap;		/*子要素折り返し*/
	}
	.thumbnail-images{
		width: 100%;
	  	height: auto;
	}
	/*もっと見るボタン*/
	.readMoreBtn{
		padding: 0.5em 1em;
		margin-bottom: 2rem;
		text-align: center;
		text-decoration: none;
		font-size: 2rem;
		font-weight: bold;
		width: 30rem;
		background: #ff8040;/*ボタン色*/
		color: #FFF;
	}
	/*詳細画面*/
	.primary-image{
		display: flex;
		justify-content: center;
	}

	.primary-image img{
		width: 50%;
		height: auto;
		object-fit: scale-down;
	}
	.details-document{
		display: flex;
	  justify-content: center;
	}
	.details-document ul{
		margin : 3%;
		border: solid 2px;
		padding: 0.5rem;
		width: 30%;
	}
}

/*スマートフォン表示*/
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
	h2{
		font-size: 1rem;
	}
	.nav-ber ul{
		display: flex;
		flex-direction: column;
  	align-items: center;
	}
	.logo-title{
		font-size: 2rem;
		font-weight: bold;
	}
	.nav-ber button{
		display: none;
		margin-right: auto;
		border: solid 1px;
		text-align: center;
		font-weight: bold;
		background-color: #bce702;
		width: 4.5rem;
	  height: 2rem;
	  margin-right: 2rem;
	}
	.tag-button-list{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.tag-button{
		border: solid 3px;
		text-align: center;
		background: transparent;
		width: 8rem;
	  height: 8rem;
	 	margin: 1rem;
		border-radius: 1rem;
		font-weight:800;
		font-size: 1.2rem;
	}
.thumbnail-list{
	margin: 0;
	padding: 0;
	display: flex;			/*中央寄せ便利*/
	justify-content: center;
	flex-wrap: wrap;		/*子要素折り返し*/
	width: 100%;
}
	.thumbnail-art{
		width: 40%;
		padding: 0.5rem		/*flexの子要素に余白の設定*/
	}
	.thumbnail-list li p{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#wrapper{
		display: flex;			/*中央寄せ便利*/
		justify-content: center;
		flex-wrap: wrap;		/*子要素折り返し*/
	}
	.thumbnail-images{
		width: 100%;
  	height: auto;
	}
	/*もっと見るボタン*/
	.readMoreBtn{
		padding: 0.5em 1em;
		margin-bottom: 1rem;
		text-align: center;
		text-decoration: none;
		font-size: 1rem;
		font-weight: bold;
		width: 20rem;
		background: #ff8040;/*ボタン色*/
		color: #FFF;
	}


	/*詳細画面*/
	.primary-image{
		display: inline-block;
		text-align: center;
	}
	.primary-image img{
		max-width: 97%;
		height: auto;
	}
}
